/*body styles*/
* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
}


/* header styles start*/
.header__wrapper {
	max-width: 90rem;
	margin-bottom: 6rem;

}

/* header styles end*/

/* main styles start*/
.main-title__wrapper {
	width: 100%;
	height: 12rem;
	margin-bottom: 3rem;
	background-color: rgb(116, 182, 255, 0.15);

}

.main__title {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 700;
	font-size: 3rem;
	line-height: 3rem;
	text-align: center;
	padding: 4rem 13rem 4rem 13rem;

}

.pic {
	margin: 0 auto;
	max-width: 64rem;

}

.pic-size {
	width: 100%;
	margin-bottom: 1.5rem;
}

.main-top__wrapper,
.main-bottom__wrapper {
	margin: 0 auto;
	max-width: 44rem;
}

.content {
	margin-bottom: 4rem;
}

.content-title {
	margin-bottom: 1.5rem;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 2rem;
}

.list-items {
	padding-left: 1rem;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 1.1rem;
	line-height: 1.9rem;
}

li::marker {
	color: #1E1E1E;
	font-size: 0.7rem;
}

li {
	margin-bottom: 0.5rem;
}

.main-top__wrapper,
.main-bottom__wrapper {
	margin: 0 auto;
	max-width: 44rem;
}

p {
	margin-bottom: 4rem;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 300;
	font-size: 1.1rem;
	line-height: 1.9rem;
}

.paragraph-first {
	margin-bottom: 1.5rem;
	line-height: 2rem;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 300;
	font-size: 1.1rem;
}

h4 {
	margin-bottom: 1.5rem;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 2rem;
}

.paragraph-second {
	margin-bottom: 5.5rem;
	line-height: 1.9rem;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 300;
	font-size: 1.1rem;
}

.paragraph-third {
	margin-bottom: 3rem;
	line-height: 1.9rem;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 300;
	font-size: 1.1rem;
}

.pic-margin {
	margin-bottom: 2.5rem;
}

a {
	text-decoration: none;
	color: #1874FF;
}

/* main styles end*/
/* footer styles start*/

/* footer styles start*/