/*body styles*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


/* header styles start*/

/* header styles end*/

/* main styles start*/


/* main styles end*/
/* footer styles start*/

/* footer styles start*/